### Project-specific ###
program_flow.plantuml
program_flow.png
heatmap_slider.png

### Python ###
# Compiled Python modules
__pycache__/
*.py[cod]

# Other Python files
.pytest*
.python*

### Vim ###
# Swap files
.*.sw[op]

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.env
db.sqlite3*

### Coverage ###
.coverage
