
#genTimeSlider .slider-selection, #genHeatmapSlider .slider-selection {
	background: #BABABA;
}

#container-slider {
    display: inline;
    position:absolute;
    top: 5%;
    left: 75%;
    background-color: white;
    width:20%;

}
#container-chart {
    position: absolute;
    bottom: 10%;
    left: 0%;
}
#chart-title{
    text-align:center;
    font-weight: bold;
}
#map-all {
    position:fixed;
    height: 100%;
    width: 100%;
}
#container-itinerary {
    left: 10px;
    top: 0;
    position: absolute;
    width: 55%;
}

#slider {
  float:left;
  display:inline;
  width:10%;
  height:30px;
}
#itineraryTable {
  float: left;
  display: inline;
}
#addRow {
  position: relative;
  display: block;
}
#itineraryTable td {
  position: relative;
}
.chart rect {
  fill: steelblue;
}

.axis {
    font: 14px sans-serif;
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
.axis--x path {
    display: none;
}



.deleteRow {

  width: 100%;
  height: 100%;
}
