
#genTimeSlider .slider-selection, #genHeatmapSlider .slider-selection {
	background: #BABABA;
}


#map {
  height: 100%;
}
.chart rect {
  fill: steelblue;
}

.axis { font: 14px sans-serif;
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
.axis--x path {
    display: none;
}

.heattiles,{
  position: relative;
  width: 960px;
  height: 500px;
}

.heattiles svg {
  position: absolute;
}

.heattiles circle {
  fill: brown;
  stroke: black;
  stroke-width: 0.5px;
}
