

#description-controls:hover
{
  color: tomato;
}

#description-controls {
    top: 50px;
    left: 100px;
    position:absolute;
    z-index:2;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ #description-controls
{
    color:tomato;
}
#container-controls
{
  position: absolute;
  width: 750%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  overflow: hidden;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#container-controls li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#genTimeSlider .slider-selection, #genHeatmapSlider .slider-selection {
	background: #BABABA;
}

#container-slider {
    z-index:1;
    display: inline;
    position:absolute;
    top: 5%;
    left: 75%;
    width:20%;
    overflow: hidden;
    padding: 10px;
}


#container-chart {
    position: absolute;
    bottom: 10%;
    left: 0%;
}

#chart-title{
    text-align:center;
    font-weight: bold;
}
#map-all {
    position:fixed;
    height: 100%;
    width: 100%;
}
#container-itinerary {
    left: 10px;
    top: 300px;
    position: absolute;
    width: 55%;
}

#slider {
  float:left;
  display:inline;
  width:10%;
  height:30px;
}

#itineraryTable {
  float: left;
  width: 90%;
  display:inline-block;
  table-layout: fixed;
}

#addRow {
  position: relative;
  display: block;
}

#itineraryTable td {
  position: relative;
  width: 25%;
  white-space:nowrap;
}

#container-stats {
    z-index:1;
  position: absolute;
  right: -50%;
  top: 40%;
  color:black;
  overflow:hidden;
  padding:20px;
}

.container-bg {
    z-index:-1;
  position: absolute;
  -webkit-filter: blur(10px); /* Chrome, Opera, etc. */
  filter: url('blur.svg#blur'); /* Older FF and others - http://jordanhollinger.com/media/blur.svg */
  filter: blur(10px); /* Firefox 35+, eventually all */
  height:120%;
  width: 120%;
  background: rgb(34,34,34); /* for IE */
background: rgba(155,155,155,0.3);
  top:0;
  padding:-10px;
  left:-25px;
  top:-25px;
}

#container-error {
  position: fixed;
}

#remove-stats {
    font-size: 0.5em;
    height:1em;
    width:1em;
    text-align: center;
}
.chart rect {
  fill: steelblue;
}

.axis {
  font: 14px sans-serif;
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis--x path {
  display: none;
}

.deleteRow {
  width: 100%;
  height: 100%;
}

.hide {
  visibility: hidden;
  display: none;
}

.td-height {
  height: 20px;
}

input[type="file"] {
  display: none;
}

.hide {
  visibility: hidden;
  display: none;
}
