{% extends "_base.html" %}
{% load static %}
{% block headerstatic %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/css/bootstrap-slider.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.2/css/tableexport.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/bootstrap-slider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/extras/jquery.tablesorter.pager.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.0/xlsx.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.2/js/tableexport.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.5.0/papaparse.min.js"></script>
<link rel="stylesheet" href="{% static 'css/ui.css' %}">
<link rel="stylesheet" href="{% static 'css/map.css' %}">

<script>
    //Declared global variable here so that it may be referred to by other scripts
      function initMap (){};
</script>
<script type="text/javascript" src="{% url 'visualize:chart' %}" ></script>
<script type="text/javascript" src="{% url 'visualize:map' %}" ></script>
<script defer type="text/javascript" src="{% url 'visualize:slider' %}" ></script>
<script defer type="text/javascript" src="{% url 'visualize:table' %}" ></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLEMAPS_SECRET_KEY }}&libraries=visualization,places&callback=initMap&region=SG"></script>
{% endblock %}
{% block content %}
<!--Error Message-->
<div id="container-error">
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
</div>
<div id= "map-all">
    <!-- Google maps. -->
    <div id="map"></div>
    <!-- Controls (Bottom) -->
    <div id="container-controls">
        <table>
            <tr>
                <button onclick="toggleHeatmap()">Toggle Heatmap</button>
                <button onclick="changeGradient()">Change gradient</button>
                <button onclick="changeRadius()">Change radius</button>
                <button onclick="changeOpacity()">Change opacity</button>
                <button onclick="showNearby()">Show near-by taxis</button>
                <button onclick="resetLocation()">Reset location</button>
            </tr>
        </table>
    </div>
    <!--Sliders (top right)-->
    <div id="container-slider">
        <div class = "container-bg"></div>
        <div> Display Controls </div>
        <div> Slide across time </div>
        <input type="range" id="genTime" data-slider-id="genTimeSlider" type="text" data-slider-min="0" data-slider-max="60" data-slider-step="1" data-slider-value="0" data-slider-reversed="true"><br>
        <div>Slide location radius</div>
        <input type="range" id="genLocationRadius" data-slider-id="genLocationRadiusSlider" type="text" data-slider-min="50" data-slider-max="5000" data-slider-step="10" data-slider-value="500"><br>
        <div> Slide across heatmap </div>
        <input type="range" id="genHeatmap" data-slider-id="genHeatmapSlider" type="text" data-slider-min="0" data-slider-max="60" data-slider-step="1" data-slider-value="0" data-slider-reversed="true"><br>
        <div> Slide across heatmap intensity</div>
        <input type="range" id="genHeatmapIntensity" data-slider-id="genHeatmapIntensitySlider" type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="0"><br>
        <div class='input-group date' id='datetimepicker'>
            <input type='text' class="form-control"/>
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>



    <!-- Itinerary table (top left)-->
    <div id = "container-itinerary">
      <div>
        <input type="button" id="addRow" value="Add new row">
        <table id="itineraryTable" class="tablesorter" cellspacing="1">
          <thead>
            <tr>
              <th>Pickup Location</th>
              <th>Pickup Time</th>
              <th>Arrival Location</th>
              <th>Arrival Time</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <label for="importFromCsv" class="btn btn-default csv">Import</label>
      <input id="importFromCsv" type="file"/>
      <div id="pager" class="pager">
        <form>
          <img src="http://tablesorter.com/addons/pager/icons/first.png" class="first"/>
          <img src="http://tablesorter.com/addons/pager/icons/prev.png" class="prev"/>
          <input type="text" class="pagedisplay"/>
          <img src="http://tablesorter.com/addons/pager/icons/next.png" class="next"/>
          <img src="http://tablesorter.com/addons/pager/icons/last.png" class="last"/>
          <select class="pagesize">
            <option selected="selected" value="5">5</option>
            <option value="10">10</option>
            <option value="10">15</option>
            <option value="20">20</option>
          </select>
        </form>
      </div>
      <input type="button" id="slider" value="<<">
    </div>
    <!--SVG for charts -->
    <div id="container-chart" >
        <svg class="chart"></svg>
        <div id="chart-title">Title</div>
    </div>

    <!--Local statistics(Right)-->
    <div id = "container-stats">
        <button id="remove-stats" onclick="removeStats()">X</button>
        <div class = "container-bg"></div>
        <table id = "stats-table">
            <tr>
                <th> Statistics of taxis within 500m:</th>
            <tr>
                <td> Number of taxis:</td>
                <td id="num"> "-" </td>
            </tr>
            <tr>
                <td>Average distance:</td>
                <td id="average_dist"> "-"</td>
            </tr>
        </table>

    </div>

</div>

<script src="https://d3js.org/d3.v4.min.js"></script>

{% endblock %}
